<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        
    </head>
    <body>
        <!--文件加密-->
        <div class="file-encrypt">
            填写文件所在目录：<input type="text" id="file-encrypt-path" onkeyup="inputEncryptPath(this)">
            示例：/Users/pluttt/Downloads/jm/ （注意：以/结尾）
            <br>
            请选择该目录<span id="file-encrypt-box"></span>，以获取其下的文件
            <!-- <div id="Box"></div> -->
            <input type="file" id="file-encrypt-uploader" multiple/>
            <br>
            <input type="button" value="提交" onClick="submitEncrypt()"/>
        </div>
        <!--文件解密-->
        <div class="file-decrypt">
            填写文件所在目录：<input type="text" id="file-decrypt-path" onkeyup="inputDecryptPath(this)">
            示例：/Users/pluttt/Downloads/jm/ （注意：以/结尾）
            <br>
            请选择该目录<span id="file-decrypt-box"></span>，以获取其下的文件
            <!-- <div id="Box"></div> -->
            <input type="file" id="file-decrypt-uploader" multiple/>
            <br>
            <input type="button" value="提交" onClick="submitDecrypt()"/>
        </div>
        <!--文件切片-->
        <div class="file-slice">
            待切片文件：<input type="text" id="slice-file" onkeyup="inputSliceFile(this)">
            示例：/Users/pluttt/Downloads/jm/1.mkv
            <br>
            切片完成存放路径：<input type="text" id="file-slice-path" onkeyup="inputSlicePath(this)">
            示例：/Users/pluttt/Downloads/jm/cut/ （注意：以/结尾）
            <br>
            <input type="button" value="提交" onClick="submitSlice()"/>
        </div>
        <!--文件合并-->
        <div class="file-merge">
            待合并的文件路径：<input type="text" id="file-merge-path" onkeyup="inputMergePath(this)">
            示例：/Users/pluttt/Downloads/jm/cut/ （注意：以/结尾）
            <br>
            合并完成存放文件：<input type="text" id="merge-file" onkeyup="inputMergeFile(this)">
            示例：/Users/pluttt/Downloads/jm/he/1.mkv
            <br>
            <input type="button" value="提交" onClick="submitMerge()"/>
        </div>

        <script type="text/javascript" src="../static/js/jquery-3.6.1.js" th:src="@{/js/jquery-3.6.1.js}"></script>
        <script>
            /**文件加密*/
            //获取input目录
            let encrypt_path = "";
            function inputEncryptPath(obj) {
                // let val = obj.value.replace(/[\u4E00-\u9FA5]/g, "");
                let val = obj.value;
                document.getElementById('file-encrypt-box').innerText = val;
                encrypt_path = val;
            }
            // console.log(encrypt_path);

            //上传该目录下文件信息-文件名
            const encrypt_fileUploader = document.getElementById('file-encrypt-uploader');
            let encryptResult = [];
            // 听更 change 件并读取元数据
            encrypt_fileUploader.addEventListener('change', (event) => {
                // 获取文件列表数组
                const files = event.target.files;
                // 遍历并获取元数据
                for (const file of files) {
                    const name = file.name;
                    const type = file.type ? file.type: 'NA';
                    const size = file.size;
                    const lastModified = file.lastModified;
                    encryptResult.push(name);
                    // console.log({ file, name, type, size, lastModified });
                }
            });

            //提交路径及文件名
            function submitEncrypt(){
                let files = [];
                encryptResult.forEach(item => {
                    files.push({
                        filePath: encrypt_path,
                        fileName: item
                    })
                })
                console.log(files);
                files.forEach(item => {
                    $.ajax({
                        type: "GET",
                        url: '/enFile',
                        dataType: 'json',
                        contentType:"application/json",
                        data: item,
                        success: function (res) {
                            console.log("成功"+res);
                        }
                    })
                });
            }

            /**文件解密*/
            //获取input目录
            let decrypt_path = "";
            function inputDecryptPath(obj) {
                // let val = obj.value.replace(/[\u4E00-\u9FA5]/g, "");
                let val = obj.value;
                document.getElementById('file-decrypt-box').innerText = val;
                decrypt_path = val;
            }
            // console.log(decrypt_path);

            //上传该目录下文件信息-文件名
            const decrypt_fileUploader = document.getElementById('file-decrypt-uploader');
            let decryptResult = [];
            // 听更 change 件并读取元数据
            decrypt_fileUploader.addEventListener('change', (event) => {
                // 获取文件列表数组
                const files = event.target.files;
                // 遍历并获取元数据
                for (const file of files) {
                    const name = file.name;
                    const type = file.type ? file.type: 'NA';
                    const size = file.size;
                    const lastModified = file.lastModified;
                    decryptResult.push(name);
                    // console.log({ file, name, type, size, lastModified });
                }
            });

            //提交路径及文件名
            function submitDecrypt(){
                let files = [];
                decryptResult.forEach(item => {
                    files.push({
                        filePath: decrypt_path,
                        fileName: item
                    })
                })
                console.log(files);
                files.forEach(item => {
                    $.ajax({
                        type: "GET",
                        url: '/deFile',
                        dataType: 'json',
                        contentType:"application/json",
                        data: item,
                        success: function (res) {
                            console.log("成功"+res);
                        }
                    })
                });
            }

            /**文件切片*/
            let slice_file = "";
            function inputSliceFile(obj) {
                let val = obj.value;
                slice_file = val;
            }
            let slice_path = "";
            function inputSlicePath(obj) {
                let val = obj.value;
                slice_path = val;
            }
            //提交路径及文件名
            function submitSlice(){
                let res = [];
                res.push({
                    sourceFilePath: slice_file,
                    chunkpath: slice_path
                })
                console.log(res);
                $.ajax({
                    type: "GET",
                    url: '/filePart',
                    dataType: 'json',
                    contentType:"application/json",
                    data: res,
                    success: function (res) {
                        console.log("成功"+res);
                    }
                })
            }

            /**文件切片*/
            let merge_path = "";
            function inputMergePath(obj) {
                let val = obj.value;
                merge_path = val;
            }
            let merge_file = "";
            function inputMergeFile(obj) {
                let val = obj.value;
                merge_file = val;
            }
            //提交路径及文件名
            function submitMerge(){
                let res = [];
                res.push({
                    chunkFolderPath: merge_path,
                    mergeFilePathName: merge_file
                })
                console.log(res);
                $.ajax({
                    type: "GET",
                    url: '/fileMerge',
                    dataType: 'json',
                    contentType:"application/json",
                    data: res,
                    success: function (res) {
                        console.log("成功"+res);
                    }
                })
            }



        </script>
    </body>
</html>